.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #fff!important;
    background: #048147;
    border: #048147;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #048147;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color: #048147!important;
    text-decoration: none;
    background: #e9ecef;
    border-color: #dee2e6;
}
.dataTables_filter {
   display: none;
}
#min,#max{
	/*max-width: 130px;*/
}
.font-60{
	font-size: 30px
}
.dropdown-item.font-12{
	border-bottom: 1px solid #ccc
}
.dropdown-item.font-12:hover{
	background: #eee;
}
.font-weight-900 {
    font-weight: 800;
}
.dasboard-top-wrapper{
	background: #fff
}
.hidden {
	display: none;
}
.mil select{
	min-width: 135px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	/*margin-top: 3px!important;*/
}